{% extends 'layout.html.twig' %}
{% block title %}
    ANC - Collection
{% endblock %}

{% block content %}
    <section class="collection">
        <h2 class="title-section my-5 text-center">Collection</h2>
        <div class="wrap-collabsible container mx-auto">
            <input id="collapsible" class="toggle" type="checkbox">
            <label for="collapsible" class="lbl-toggle">Trier</label>
            <div class="collapsible-content">
                <form action="" method="post" class="row container-fluid content-inner">
                    <div class="col-md-4">
                        <h3>Métal</h3>
                        {% for metal in metals %}
                            <label for="metal_{{ metal.id }}" class="container container-inner">{{ metal.material }}
                                <input type="checkbox" id="metal_{{ metal.id }}" name="metal_{{ metal.id }}" value="{{ metal.material }}">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <h3>Origine</h3>
                        {% for origin in origins %}
                            <label for="origin_{{ origin.id }}" class="container container-inner">{{ origin.country }}
                                <input type="checkbox" id="origin_{{ origin.id }}" name="origin_{{ origin.id }}" value="{{ origin.country }}">
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <h3>Époque</h3>
                        <label for="antiquity" class="container container-inner">Antiquité
                            <input type="checkbox" id="antiquity" name="period_1" value="antiquity">
                            <span class="checkmark"></span>
                        </label>
                        <label for="middle-age" class="container container-inner">Moyen-âge
                            <input type="checkbox" id="middle-age" name="period_2" value="middle-age">
                            <span class="checkmark"></span>
                        </label>
                        <label for="modern-times" class="container container-inner">Temps moderne
                            <input type="checkbox" id="modern-times" name="period_3" value="modern-times">
                            <span class="checkmark"></span>
                        </label>
                        <label for="contemporary-period" class="container container-inner">Époque contemporaine
                            <input type="checkbox" id="contemporary-period" name="period_4" value="contemporary-period">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <button class="btn btn-primary btn mb-4" type="submit">Valider</button>
                </form>
            </div>
        </div>
        <div class="row container-fluid mx-auto">
            {% for coin in coins %}
                <div class="col-lg-6 col-xl-4 my-5">
                    <div class="card shadow-sm">
                        <div class="card-title d-flex justify-content-between p-3 mb-0">
                            <p class="mx-2 text-center">{{ coin.name }}</p>
                            <p class="mx-2">{{ coin.year }}</p>lider
                        </div>
                        <div class="card-body d-sm-flex align-items-center text-center">
                            <img src="/assets/images/collection/{{ coin.image_recto }}"
                                 class="card-img mx-sm-auto"
                                 alt="{{ coin.name }}">
                            {% if coin.image_verso != NULL %}
                                <img src="/assets/images/collection/{{ coin.image_verso }}"
                                     class="card-img mx-sm-auto mt-sm-0"
                                     alt="{{ coin.name }}">
                            {% endif %}
                        </div>
                        <div class="coin-stock d-flex justify-content-center">
                            <button class="btn btn-primary btn-sm mb-4" type="button" data-toggle="modal"
                                    data-target="#coinModal{{ coin.coin_id }}">En savoir plus
                            </button>
                            {% if coin.stock == 1 %}
                                <a class="btn btn-primary btn-sm ml-5 mb-4" href="/contact/index">Commander</a>
                            {% endif %}
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center py-2">
                            <p class="card-text mx-2">{{ coin.material }}</p>
                            <p class="card-text mx-2">{{ coin.country }}</p>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="coinModal{{ coin.coin_id }}" tabindex="-1" role="dialog"
                     aria-labelledby="coinModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-between p-3">
                                <p class="modal-coin-title mb-0" id="coinModalTitle">{{ coin.name }}</p>
                                <p class="modal-coin-year mb-0" id="coinModalTitle">{{ coin.year }}</p>
                            </div>
                            <div class="modal-body d-flex justify-content-between p-sm-5">
                                <img class="modal-img mx-auto"
                                     src="/assets/images/collection/{{ coin.image_recto }}"
                                     alt="{{ coin.name }}">
                                {% if coin.image_verso != NULL %}
                                    <img class="modal-img ml-5"
                                         src="/assets/images/collection/{{ coin.image_verso }}"
                                         alt="{{ coin.name }}">
                                {% endif %}
                            </div>
                            <div class="modal-body m-4 h5">
                                <button type="button" class="btn btn-primary my-4" data-dismiss="modal">Retour
                                </button>
                            </div>
                            <div class="modal-footer d-flex justify-content-between align-items-center py-2">
                                <p class="card-text mx-2">{{ coin.material }}</p>
                                <p class="card-text mx-2">{{ coin.country }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}