{% extends 'layout.html.twig' %}
{% block title %}
    ANC - Évènements
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/assets/css/eventspage.css">
    <section class="events-page container">
        <h1 class="title-section my-5 text-center">Prochains événements</h1>

        {% for event in events %}
            <div class="card my-5 shadow-sm">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/assets/images/events/{{ event.img }}" alt="{{ event.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">{{ event.name }}</h4>
                            <p class="card-text font-italic">
                                {% if event.end_at is not null %}
                            Du {{ event.start_at | date("d/m/Y") }}
                                au {{ event.end_at | date("d/m/Y") }}
                            {% else %}
                                Le {{ event.start_at | date("d/m/Y") }}
                            {% endif %}
                            </p>
                            <p> class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional
                                content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}


