{% extends "layout.html.twig" %}
{% block title %}
    Admin - Vie du club
{% endblock %}

{% block content %}
    <section class="section events-admin container-fluid">
    <a href="/admin/index" class="btn btn-primary my-5">Retour</a>
    {% for clublife in clublifes %}
        <h4 class="font-weight-bold mb-5">{{ clublife.description_title }}</h4>

        <div class="form-row">
            <div class="form-group col-12">
                <form action="#" method="post" class="mx-md-5 mt-5 mb-3">

                    <label for="description_title">Titre des activités:</label>
                    <input type="text" class="form-control" name="activity_title" id="activity_title"
                           placeholder="{{ clublife.description_title }}">
                    <label for="comment">Commentaire:</label>
                    <textarea class="form-control" rows="10" name="comment"
                              id="comment">{{ clublife.description }}</textarea>
                    <button type="submit" class="btn">Modifier</button>
                    <button type="reset" class="btn">Annuler</button>
                </form>
            </div>

            <div class="form-group col-12">
                <form action="#" method="post" class="mx-md-5 mt-5 mb-3">
                    <label for="description_title">Titre des activités:</label>
                    <input type="text" class="form-control" name="activity_title" id="activity_title"
                           placeholder="{{ clublife.activity_title }}">
                    <label for="comment">Commentaire:</label>
                    <textarea class="form-control" rows="15" name="comment"
                              id="comment">{{ clublife.activity }}</textarea>
                    <button type="submit" class="btn">Modifier</button>
                    <button type="reset" class="btn">Annuler</button>
                </form>
            </div>
        </div>
        </section>
    {% endfor %}
{% endblock %}