{% extends "layout.html.twig" %}
{% block title %}
    Admin - Vie du club
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/clublife.css">
    <section class="clublife-admin container-fluid">
        {% for clublife in clublifes %}
            {% if error is defined and error is not empty %}
                <ul>
                    {% for i in 0..error|length -1 %}
                        <li class="alert alert-danger mx-5">{{ error[i] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if _get.success is defined %}
                <div class="alert alert-success mx-5">
                    {{ _get.success }}
                </div>
            {% endif %}
            <h4>Section Description</h4>
            <form action="" method="post" enctype="multipart/form-data" class="p-4">
                <div class="form-row my-4">
                    <div class="form-group col-md-6">
                        <label for="description_title">Titre de la description :</label>
                        <input class="form-control" type="text" name="description_title" id="description_title"
                               value="{{ clublife.description_title }}">
                    </div>
                </div>
                <div class="form-row my-4">
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea class="form-control" name="description" id="description" cols="150"
                                  rows="10">{{ clublife.description }}</textarea>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-6 text-center">
                        <img src="/assets/images/clublife/{{ clublife.description_image }}" alt="">
                        <div class="custom-file my-4">
                            <input type="file" class="custom-file-input" id="description_image" name="description_image">
                            <label class="custom-file-label" for="description_image">Choisir une image</label>
                        </div>
                    </div>
                </div>

            <h4>Section Activité</h4>

                <div class="form-row my-4">
                    <div class="form-group col-md-6">
                        <label for="activity_title">Titre des activités :</label>
                        <input class="form-control" type="text" name="activity_title" id="activity_title"
                               value="{{ clublife.activity_title }}">
                    </div>
                </div>
                <div class="form-row my-4">
                    <div class="form-group">
                        <label for="activity">Description :</label>
                        <textarea class="form-control" name="activity" id="activity" cols="150"
                                  rows="10">{{ clublife.activity }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 text-center">
                        <img src="/assets/images/clublife/{{ clublife.activity_image1 }}" alt="">
                        <div class="custom-file my-4">
                            <input type="file" class="custom-file-input" id="activity_image1" name="activity_image1">
                            <label class="custom-file-label" for="activity_image1">Choisir une image</label>
                        </div>
                    </div>
                    <div class="col-5 text-center">
                        <img src="/assets/images/clublife/{{ clublife.activity_image2 }}" alt="">
                        <div class="custom-file my-4">
                            <input type="file" class="custom-file-input" id="activity_image2" name="activity_image2">
                            <label class="custom-file-label" for="activity_image1">Choisir une image</label>
                        </div>
                    </div>
                </div>
                <div class="form-row my-4">
                    <button class="btn btn-primary m-auto">Modifier</button>
                    <button class="btn btn-primary m-auto">Annuler</button>
                </div>
            </form>
        {% endfor %}
        <a href="/admin/index" class="btn btn-primary my-5">Retour</a>
    </section>

{% endblock %}