{% extends "layout.html.twig" %}

{% block title %}
    Admin - Collection
{% endblock %}

{% block content %}

    <section class="section admin-collection container-fluid">
        <h1 class="title-section text-center mb-5">Administration collection</h1>
        <a href="/admin/index" class="btn btn-primary mb-5">Retour</a>
        <a href="/collection/Add" class="btn btn-primary mb-5 ml-4">Ajouter</a>
        {% if _get is defined %}
            {% for key, value in _get %}
                <div class="alert alert-{{ key }}">{{ value }}</div>
            {% endfor %}
        {% endif %}

        <div class="wrap-collabsible container mx-auto">
            <input id="collapsible" class="toggle" type="checkbox"
                    {% if _post is not empty %}
                        checked
                    {% endif %}
            >
            <label for="collapsible" class="lbl-toggle d-block d-md-inline-block"><i class=" mr-3 fas fa-filter"></i>Trier</label>
            <div class="collapsible-content">
                <form action="" method="post" class="row container-fluid content-inner">
                    <div class="col-md-4">
                        <h3 class="my-3">Métal</h3>
                        {% for metal in metals %}
                            <label for="metal_{{ metal.id }}" class="container container-inner">{{ metal.material }}
                                <input type="checkbox" id="metal_{{ metal.id }}" name="metal{{ metal.id }}"
                                       value="{{ metal.material }}"
                                        {% for value in _post if value == metal.material %}
                                            checked
                                        {% endfor %}
                                >
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <h3 class="my-3">Origine</h3>
                        {% for origin in origins %}
                            <label for="origin_{{ origin.id }}" class="container container-inner">{{ origin.country }}
                                <input type="checkbox" id="origin_{{ origin.id }}" name="origin{{ origin.id }}"
                                       value="{{ origin.country }}"
                                        {% for value in _post if value == origin.country %}
                                            checked
                                        {% endfor %}
                                >
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <h3 class="my-3">Époque</h3>
                        <label for="antiquity" class="container container-inner">Antiquité
                            <input type="checkbox" id="antiquity" name="era1" value="antiquity"
                                    {% for value in _post if value == 'antiquity' %}
                                        checked
                                    {% endfor %}
                            >
                            <span class="checkmark"></span>
                        </label>
                        <label for="middle-age" class="container container-inner">Moyen-âge
                            <input type="checkbox" id="middle-age" name="era2" value="middle-age"
                                    {% for value in _post if value == 'middle-age' %}
                                        checked
                                    {% endfor %}
                            >
                            <span class="checkmark"></span>
                        </label>
                        <label for="modern-times" class="container container-inner">Temps moderne
                            <input type="checkbox" id="modern-times" name="era3" value="modern-times"
                                    {% for value in _post if value == 'modern-times' %}
                                        checked
                                    {% endfor %}
                            >
                            <span class="checkmark"></span>
                        </label>
                        <label for="contemporary-era" class="container container-inner">Époque contemporaine
                            <input type="checkbox" id="contemporary-era" name="era4" value="contemporary-era"
                                    {% for value in _post if value == 'contemporary-era' %}
                                        checked
                                    {% endfor %}
                            >
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <button class="btn btn-primary mx-auto mt-3 mb-5" type="submit">Valider</button>
                </form>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

            {% for collection in collections %}

                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="images d-flex align-items-center justify-content-center flex-column flex-md-row p-2">
                            <img src="/assets/images/collection/{{ collection.image_recto }}" class="card-img-top m-3"
                                 alt="{{ collection.image_recto }}">
                            {% if coin.image_verso != NULL %}
                                <img src="/assets/images/collection/{{ coin.image_verso }}"
                                     class="card-img-top m-3"
                                     alt="{{ coin.name }}">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title-section text-center mb-4">{{ collection.name }}</h5>
                            <div class="d-flex justify-content-between">
                                <p class="card-text ml-5">
                                    <i class="far fa-calendar-alt mr-2"></i>{{ collection.year }}
                                </p>
                                <p class="card-text mr-5">
                                    {{ collection.country }}<i class="fas fa-flag ml-2"></i>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="card-text ml-5">
                                    <i class="fas fa-gavel mr-2"></i>{{ collection.material }}
                                </p>
                                <p class="card-text mr-5">
                                    {% if collection.stock <= 0 %}
                                        <span class="text-danger font-weight-bold">En rupture</span><i
                                            class="fas fa-archive ml-2 text-danger"></i>
                                    {% else %}
                                        <span class="text-success font-weight-bold">{{ collection.stock }}</span><i
                                            class="fas fa-archive ml-2  text-success"></i>
                                    {% endif %}
                                </p>
                            </div>
                            <p class="card-text mt-4">
                                <i class="fas fa-quote-right d-block mb-2"></i>
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <form action="/collection/delete" method="post" class="mr-2">
                                <input type="hidden" name="id" value="{{ collection.coin_id }}">
                                <button class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                            <a href="/collection/edit/{{ collection.coin_id }}"
                               class="btn btn-primary btn-sm">Modifier</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>

{% endblock %}

