{% extends "layout.html.twig" %}

{% block title %}
    Edition pièce
{% endblock %}

{% block content %}

    <section class="section edit-coin-admin container">

        <h1 class="title-section text-center mb-5">Editer</h1>
        <a href="/admin/event" class="btn btn-primary mb-5">Retour</a>
        {% for i in 0..errors_files | length - 1 %}
            {% for key, value in errors_files[i] %}
                <div class="alert alert-danger">
                    <span class="mr-5">{{ key ~ ': ' }}</span> {{ value | upper }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for i in 0..errors_form | length - 1 if errors_form is not empty %}
            <div class="alert alert-danger">
                {{ errors_form[i] }}:
            </div>
        {% endfor %}

        <form action="#" method="post" enctype="multipart/form-data" class="p-4">
            <div class="row">
                <div class="col text-center">
                    <img src="/assets/images/collection/{{ event.img }}" alt="{{ event.name }}">
                    <div class="custom-file my-4">
                        <input type="file" class="form-control-file" id="image-verso" name="image-verso">
                        <label for="image-verso" class="mt-2">Choisir une image</label>
                    </div>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-6">
                    <label for="name">Nom de l'évènement</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ event.name }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="name">Date de début</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ event.start_at | date("d/m/Y") }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="name">Date de fin</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ event.end_at | date("d/m/Y") }}">
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group form-summernote">
                    <label for="summernote">Description</label>
                    <textarea class="form-control" name="description" id="summernote" cols="150"
                              rows="10">{{ event.description }}</textarea>
                </div>
            </div>
            <div class="form-row my-4">
                <button class="btn btn-primary ml-auto">Enregistrer</button>
            </div>
        </form>

    </section>

{% endblock %}
