{% extends "layout.html.twig" %}

{% block content %}

    <section class="section edit-coin-admin container">

        <h1 class="title-section text-center mb-5">Editer</h1>

        <form action="" method="post" enctype="multipart/form-data" class="p-4">
            <div class="row">
                <div class="col text-center">
                    <img src="/assets/images/{{ coin.image_recto }}" alt="{{ coin.image_recto }}">
                    <div class="custom-file my-4">
                        <input type="file" class="custom-file-input" id="image-recto" name="image-recto">
                        <label class="custom-file-label" for="image-recto">Choisir une image</label>
                    </div>
                </div>
                <div class="col text-center">
                    <img src="/assets/images/{{ coin.image_verso }}" alt="{{ coin.image_verso }}">
                    <div class="custom-file my-4">
                        <input type="file" class="custom-file-input" id="image-verso" name="image-verso">
                        <label class="custom-file-label" for="image-verso">Choisir une image</label>
                    </div>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-6">
                    <label for="name">Nom de la pièce</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ coin.name }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="origin">Origine</label>
                    <select class="custom-select" name="origin" id="origin">
                        {% for origin in origins %}
                            <option {% if origin.id == coin.origin_id %}selected{% endif %} value="{{ origin.id }}">{{ origin.country }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-4">
                    <label for="year">Année</label>
                    <input class="form-control" type="text" name="year" id="year" value="{{ coin.year }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="metal">Matériaux</label>
                    <select class="custom-select" name="metal" id="metal">
                        {% for metal in metals %}
                            <option {% if metal.id == coin.metal_id %}selected{% endif %} value="{{ metal.id }}">{{ metal.material }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="stock">Stock</label>
                    <input class="form-control" type="text" name="stock" id="stock" value="{{ coin.stock }}">
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group">
                    <label for="descriptif">Descriptif</label>
                    <textarea class="form-control" name="descriptif" id="descriptif" cols="150" rows="10">{{ coin.descriptif }}</textarea>
                </div>
            </div>
            <div class="form-row my-4">
                <button class="btn btn-danger ml-auto">Annuler</button>
                <button class="btn btn-primary ml-3">Enregistrer</button>
            </div>

        </form>

    </section>

{% endblock %}
