{% extends 'layout.html.twig' %}

{% block title %}
    Éditer Évènement
{% endblock %}

{% block content %}

    <section class="section add-event-admin container">

        <h1 class="title-section text-center mb-5">Modifier l'évènement</h1>
        <a href="/admin/event" class="btn btn-primary mb-5">Retour</a>
        {% for i in 0..errors_files | length - 1 %}
            {% for key, value in errors_files[i] %}
                <div class="alert alert-danger">
                    <span class="mr-5">{{ key ~ ': ' }}</span> {{ value | upper }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if _get is defined  %}
            {% for key, value in _get %}
                <div class="alert alert-{{ key }}">{{ value }}</div>
            {% endfor %}
        {% endif %}
        {% if errors is defined  %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if errorsDate is defined  %}
            {% for error in errorsDate %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" class="p-4">
            <div class="row">
                <div class="col text-center">
                    <img src="/assets/images/events/{{ events.img }}" alt="{{ events.name }}" width="50%">
                    <div class="custom-file my-4">
                        <input type="file" class="custom-file-input" id="img" name="img">
                        <label class="custom-file-label" for="img">Choisir une image</label>
                    </div>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-12">
                    <label for="name">Nom de l'évènement</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ events.name }}">
                </div>
            </div>
            <div class="form-row my-3">
                <div class="form-group col-md-6 col-12">
                    <label for="start_at">Date de début</label>
                    <input class="form-control" type="date" name="start_at" id="start_at" value="{{ events.start_at }}" required>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="end_at">Date de fin</label>
                    <input class="form-control" type="date" name="end_at" id="end_at" value="{{ events.end_at }}" >
                </div>
            </div>
            <div class="form-row my-4">
                <button class="btn btn-primary ml-auto">Enregistrer</button>
            </div>
        </form>
    </section>

{% endblock %}
