{% extends "layout.html.twig" %}

{% block title %}
    Admin - Évènements
{% endblock %}


{% block content %}

    <section class="section events-admin container-fluid">
        <h2 class="title-section my-5 text-center">Administration évènements</h2>
        <a href="/admin/index" class="btn btn-primary my-5">Retour</a>
        <a href="/Event/add" class="btn btn-primary ml-4">Ajouter</a>
        {% if _get is defined  %}
            {% for key, value in _get %}
                <div class="alert alert-{{ key }}">{{ value }}</div>
            {% endfor %}
        {% endif %}
        <div class="row d-flex justify-content-center">
            {% for event in events %}

            <div class="card md-5 col-lg-5 shadow m-3">
                <div class="row no-gutters">
                    <div class="col-md-5 p-md-1">
                        <img src="/assets/images/events/{{ event.img }}" alt="{{ event.name }}">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if event.end_at is not null %}
                                    Du {{ event.start_at | date("d/m/Y") }}
                                        au {{ event.end_at | date("d/m/Y") }}
                                {% else %}
                                    Le {{ event.start_at | date("d/m/Y") }}
                                {% endif %}
                            </h5>
                            <p class="card-text font-weight-bold">{{ event.name }}</p>
                            <p class="card-text">{{ event.description | slice(0, 80) }}...</p>
                            <a href="/event/edit/{{ event.id }}" class="btn btn-primary btn-sm">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
