{% extends "layout.html.twig" %}

{% block title %}
    Admin - Accueil
{% endblock %}

{% block content %}

    <section class="section admin-dashboard container">
        <h2 class="title-section my-5 text-center">Administration</h2>
        <div class="row">
            <div class="mx-auto col-sm-8 col-lg-4 mb-3 mb-sm-5">
                <div class="card shadow-sm">
                    <div class="card-body position-relative">
                        <h2 class="card-title mb-4">Messages</h2>
                        <p class="card-text">
                            <span class="circle bg-success"></span>
                            {{ contact.coin }} messages reçus
                        </p>
                        <div class="text-right position-absolute fixed-bottom m-3">
                            <a href="/admin/message" class="btn btn-primary">Lire</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-sm-8 col-lg-4 mb-3 mb-sm-5">
                <div class="card shadow-sm">
                    <div class="card-body h-100 position-relative">
                        <h2 class="card-title mb-4">Collections</h2>
                        <p class="card-text">
                            <span class="circle bg-success"></span>
                            {{ collection.coin }} pièces répertoriées
                        </p>
                        <div class="text-right position-absolute fixed-bottom m-3">
                            <a href="/admin/collection" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-sm-8 col-lg-4 mb-3 mb-sm-5">
                <div class="card shadow-sm">
                    <div class="card-body position-relative">
                        <h2 class="card-title mb-4">Evénements</h2>
                        <p class="card-text">
                            <span class="circle bg-success"></span>
                            {{ event.coin }} évènement(s) à venir
                        </p>
                        <p class="card-text">
                            <span class="circle bg-danger"></span>
                            {{ eventAll.coin }} événements au total
                        </p>
                        <div class="text-right position-absolute fixed-bottom m-3">
                            <a href="/admin/event" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-sm-8 col-lg-4 mb-3 mb-sm-5">
                <div class="card shadow-sm">
                    <div class="card-body position-relative">
                        <h2 class="card-title mb-4">La vie du club</h2>
                        <div class="text-right position-absolute fixed-bottom m-3">
                            <a href="/admin/clublife" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-sm-8 col-lg-4 mb-3 mb-sm-5">
                <div class="card shadow-sm">
                    <div class="card-body position-relative">
                        <h2 class="card-title mb-4">Expositions</h2>
                        <p class="card-text">
                            <span class="circle bg-danger"></span>
                            {{ exhibition.coin }} exposition(s) au total
                        </p>
                        <div class="text-right position-absolute fixed-bottom m-3">
                            <a href="/admin/exhibition" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-sm-8 col-lg-4 mb-3 mb-sm-5">
                <div class="card shadow-sm">
                    <div class="card-body position-relative">
                        <h2 class="card-title mb-4">Options</h2>
                        <p>
                            Gérer vos catégories, sujets de vos mails...
                        </p>
                        <div class="text-right position-absolute fixed-bottom m-3">
                            <a href="/admin/option" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
