{% extends "layout.html.twig" %}

{% block content %}
    <section class="section messages my-5 container" style="margin-top: 120px!important;">
        <div class="accordion" id="accordionMessage">
            {% for i in 0..messages|length - 1 %}
                <div class="card my-2">

                    <div class="card-header" id="heading{{ messages[i].id }}">
                        <p class="mb-0">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapse{{ messages[i].id }}"
                                    aria-expanded="true" aria-controls="collapse{{ messages[i].id }}">
                                Le {{ messages[i].send_at | date('d-m-Y') }} - {{ messages[i].topic }}
                            </button>
                        </p>
                    </div>

                    <div id="collapse{{ messages[i].id }}" class="collapse" aria-labelledby="heading{{ messages[i].id }}"
                         data-parent="#accordionMessage">
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                <tr>
                                    <td><small>Expéditeur: </small></td>
                                    <td>{{ messages[i].lastname }} {{ messages[i].firstname }} <span class="email">{{ '<' ~ messages[i].email ~ '>' }}</span></td>
                                </tr>
                                <tr>
                                    <td><small>Contact: </small></td>
                                    <td>+33{{ messages[i].phone }}</td>
                                </tr>
                                <tr>
                                    <td><small>Sujet: </small></td>
                                    <td>{{ messages[i].topic }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ messages[i].comment | nl2br }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>
{% endblock %}
