{% extends "layout.html.twig" %}
{% block title %}
    Gestion des options
{% endblock %}

{% block content %}
    <section class="section option container">
        <a href="/admin/index" class="btn btn-primary">Retour</a>
        <h2 class="title-section my-5 text-center">Gérer mes options</h2>

        {% if _get['success'] is defined %}
            <div class="alert alert-success">
                {{ _get['success'] }}
            </div>
        {% endif %}
        {% if _get['danger'] is defined %}
            <div class="alert alert-danger">
                {{ _get['danger'] }}
            </div>
        {% endif %}
        
        <fieldset class="p-md-5 my-5">
            <legend><h3>Origines des pièces</h3></legend>
            <div class="row">
                <div class="col-12 col-md-6">
                    <form action="/admin/updateOptionData/" method="post" class="form-row col">
                        <input type="hidden" name="column" value="country">
                        <input type="hidden" name="table" value="origin">
                        <div class="origin-wrapper col-12">
                            {% for i in 0..origins | length - 1 %}
                                <div class="form-group origin w-100">
                                    <input type="text" class="form-control" name="{{ origins[i].id }}"
                                           value="{{ origins[i].country }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group col mt-3">
                            <button class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
                <div class="col m-2">
                    <form action="/admin/insertOptionData/" method="post" class="col p-4 form-adding">
                        <div class="form-group col">
                            <label for="country">Entrez une nouvelle origine</label>
                            <input type="hidden" name="column" value="country">
                            <input type="hidden" name="table" value="origin">
                            <input class="form-control" type="text" name="new" id="country">
                        </div>
                        <div class="form-group text-right btn-add">
                            <button class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>

        <fieldset class="p-md-5 my-5">
            <legend><h3>Sujets des emails</h3></legend>
            <div class="row">
                <div class="col-12 col-md-6">
                    {% for i in 0..subjects | length - 1 %}
                        <form action="/admin/changeOptionData/" method="post" class="form col">
                            <input type="hidden" name="table" value="subject">
                            <input type="hidden" name="column" value="subject">
                            <input type="hidden" name="id" value="{{ subjects[i].id }}">
                            <div class="form-group d-flex align-items-center justify-content-around">
                                <input type="text" class="form-control" name="subject"
                                       value="{{ subjects[i].subject }}">
                                <button class="ml-2 btn btn-light" type="submit" name="action" value="delete"><i
                                            class="fas fa-trash"></i></button>
                                <button class="ml-2 btn btn-light" type="submit" name="action" value="update"><i
                                            class="fas fa-pen"></i></button>
                            </div>
                        </form>
                    {% endfor %}
                </div>
                <div class="col m-2">
                    <form action="/admin/insertOptionData/" method="post" class="col p-4 form-adding">
                        <div class="form-group col">
                            <label for="subject">Entrez un nouveau sujet</label>
                            <input type="hidden" name="column" value="subject">
                            <input type="hidden" name="table" value="subject">
                            <input class="form-control" type="text" name="new" id="subject">
                        </div>
                        <div class="form-group text-right btn-add">
                            <button class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>

        <fieldset class="p-md-5 my-5">
            <legend><h3>Matériaux</h3></legend>
            <div class="row">
                <div class="col-12 col-md-6">
                    <form action="/admin/updateOptionData/" method="post" class="form-row col">
                        <input type="hidden" name="column" value="material">
                        <input type="hidden" name="table" value="metal">
                        <div class="origin-wrapper col-12">
                            {% for i in 0..metals | length - 1 %}
                                <div class="form-group origin w-100">
                                    <input type="text" class="form-control" name="{{ metals[i].id }}"
                                           value="{{ metals[i].material }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group col mt-3">
                            <button class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
                <div class="col m-2">
                    <form action="/admin/insertOptionData/" method="post" class="col p-4 form-adding">
                        <div class="form-group col">
                            <label for="subject">Entrez un nouveau matériau</label>
                            <input type="hidden" name="column" value="material">
                            <input type="hidden" name="table" value="metal">
                            <input class="form-control" type="text" name="new" id="subject">
                        </div>
                        <div class="form-group text-right btn-add">
                            <button class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>
    </section>

{% endblock %}
