<section class="events">
    <h2 class="title-section my-5 text-center">Prochains événements</h2>

    <div class="row container-fluid mx-auto">
        <div class="card-deck mx-auto">
            {% for event in events %}

                <div class="card col-xs-12 text-center my-3">
                    <img src="assets/images/{{ event.img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        {% if event.end_at is not null %}
                            <h5 class="card-title">Du {{ event.start_at | date("d/m/Y") }}
                                au {{ event.end_at | date("d/m/Y") }}</h5>
                        {% else %}
                            <h5 class="card-title">Le {{ event.start_at | date("d/m/Y") }}</h5>
                        {% endif %}
                        <p class="card-text">{{ event.name }}</p>
                        <a href="/event/index" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</section>