{% extends 'layout.html.twig' %}
{% block title %}
    Nous Contacter
{% endblock %}
{% endblock %}

{% block content %}
    <section class="contact container">
        <h2 class="text-center">Nous Contacter</h2>
        {% if error is defined and error is not empty %}
            <ul>
                {% for i in 0..error|length -1 %}
                    <li class="alert alert-danger mx-5">{{ error[i] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if _get.success is defined %}
            <div class="alert alert-success mx-5">
                {{ _get.success }}
            </div>
        {% endif %}
        <form action="" method="post" class="mx-5 mt-5 mb-3">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">Prénom:</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Votre prénom"
                    value="{{ _post.firstname }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Nom:</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Votre nom" value="{{ _post.lastname }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre email" value="{{ _post.email }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Téléphone:</label>
                    <input type="tel" class="form-control" name="phone" id="phone"
                           placeholder="Votre numéro de téléphone" value="{{ _post.phone }}">
                </div>
            </div>
            <div class="form-group">
                <label for="topic">Sujet:</label>
                <select class="form-control" name="topic" id="topic" name="topic">
                    <option value="">< sélectionnez un sujet ></option>
                    <option {% if _post.topic == 'sujet1' %}selected{% endif%} value="sujet1">Sujet 1</option>
                    <option {% if _post.topic == 'sujet2' %}selected{% endif%} value="sujet2">Sujet 2</option>
                    <option {% if _post.topic == 'sujet3' %}selected{% endif%} value="sujet3">Sujet 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Commentaire:</label>
                <textarea class="form-control" rows="5" name="comment" id="comment">{{ _post.comment }}</textarea>
            </div>
            <div class="form-check mt-5">
                <input type="checkbox" class="form-check-input" name="policy" id="check" {% if _post.policy == true %}checked{% endif%}>
                <label class="form-check-label" for="check">J'ai lu et accepte la Politique de confidentialité.</label>
            </div>
            <br>
            <div class="button mt-4">
                <button type="reset" class="btn">Annuler</button>
                <button type="submit" class="btn">Envoyer</button>
            </div>
        </form>
    </section>
{% endblock %}