{% extends 'layout.html.twig' %}
{% block title %}
    ANC - Vie du club
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="/assets/css/clublife.css">
    <section class="clublife">
        {% for clublife in clublifes %}
            <h2 class="title-section my-5 text-center">Présentation du Club</h2>
            <div class="row container mx-auto m-2">
                <div class="ml-2">
                    <h4 class="font-weight-bold mb-2">{{ clublife.description_title }}</h4>
                </div>
                <div class="px-2 d-md-flex">
                    <div class="mx-2 my-3">
                        {{ clublife.description }}
                    </div>
                    <div class="mx-2 my-3">
                        <a href="/assets/images/clublife/bureau_ANC.jpg" target="_blank">
                            <img class="" src="/assets/images/clublife/{{ clublife.description_image}}" alt="photo du bureau">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row container mx-auto mb-2">

                <div class="ml-2">
                    <h4 class="font-weight-bold mb-2">{{ clublife.activity_title}}</h4>
                </div>
                <div class="px-2">
                    <div class="px-2 d-md-flex mb-5">
                        {{ clublife.activity}}
                    </div>
                    <div class="activity_images">
                        <a href="/assets/images/clublife/visites.jpg" target="_blank">
                            <img class="" src="/assets/images/clublife/{{ clublife.activity_image1}}" alt="photo visite collection">
                        </a>
                        <a href="/assets/images/clublife/presentation.jpg" target="_blank">
                            <img class="" src="/assets/images/clublife/{{ clublife.activity_image2}}" alt="photo du président d'association">
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}